<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Nav Section -->
<div th:replace="~{layouts/nav :: nav}"></div>

<!-- Header Section -->
<div th:replace="~{layouts/header :: header(title='게시판')}"></div>


<!-- Content Section -->
<section class="container">
    <div class="mt-5">
        <div class="d-flex justify-content-end w-100">
            <a href="/articles/new" class="btn btn-outline-primary">새 게시글</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-7 ">제목</th>
                <th scope="col" class="col-2">작성자</th>
                <th scope="col" class="col-2">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articleList}">
                <th scope="row" th:text="${article.id}">1</th>
                <td><a th:text="${article.title}" th:href="@{/articles/{id}(id = ${article.id})}"></a></td>
                <td th:text="${article.author}"></td>
                <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center  mt-5">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link"
                                             th:if="${dto.prev}"
                                             th:href="@{/articles(page=${dto.prevPage})}">이전</a></li>
                    <li class="page-item" th:each="number : ${dto.pageNumList}"><a class="page-link"
                                                                                   th:classappend="${dto.pageDto.page eq number} ? active"
                                                                                   th:text="${number}"
                                                                                   th:href="@{/articles(page=${number}, size=10)}">1</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             th:if="${dto.next}"
                                             th:href="@{/articles(page=${dto.nextPage})}">다음</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>


</body>
</html>